@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ada-purple: #6519f5;
  --ada-blue: #24d5e2;
  --ada-gray: #bbb;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--ada-blue);
}
